/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&mt LALT TAB         &kp Q  &kp W  &kp E             &kp R               &kp T        &kp Y      &kp U           &kp I              &kp O    &kp P     &mt RALT BACKSPACE
&mt LCTRL ESC        &kp A  &kp S  &kp D             &kp F               &kp G        &kp H      &kp J           &kp K              &kp L    &kp SEMI  &mt RCTRL RET
&mt LEFT_SHIFT CLCK  &kp Z  &kp X  &kp C             &kp V               &kp B        &kp N      &kp M           &kp COMMA          &kp DOT  &kp BSLH  &mt RSHFT CAPS
                                   &lt 2 SCROLLLOCK  &mt LEFT_GUI SPACE  &mkp LCLK    &mkp RCLK  &mt RGUI SPACE  &lt 1 PRINTSCREEN
            >;
        };

        Symbol {
            bindings = <
&trans  &kp N1             &kp N2    &kp N3           &kp N4                 &kp N5            &kp N6     &kp N7  &kp N8  &kp N9  &kp N0     &trans
&trans  &kp APOS           &kp LBKT  &kp LEFT_BRACE   &kp LEFT_PARENTHESIS   &kp UNDERSCORE    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp EQUAL  &trans
&trans  &kp DOUBLE_QUOTES  &kp RBKT  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp GRAVE         &kp DOT    &kp N1  &kp N2  &kp N3  &kp FSLH   &trans
                                     &trans           &trans                 &trans            &trans     &trans  &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &kp PAGE_UP    &kp LA(LEFT_ARROW)  &kp UP_ARROW    &kp LA(RIGHT)  &kp HOME      &kp HOME    &kp RS(RA(LEFT_ARROW))  &kp RS(UP_ARROW)  &kp RS(RA(RIGHT))  &kp PG_UP      &trans
&trans  &kp PAGE_DOWN  &kp LEFT            &kp DOWN_ARROW  &kp RIGHT      &kp END       &kp END     &kp RS(LEFT)            &kp RS(DOWN)      &kp RS(RIGHT)      &kp PAGE_DOWN  &trans
&trans  &kp K_UNDO     &kp K_CUT           &kp K_COPY      &kp K_PASTE    &kp K_REDO    &kp K_REDO  &kp K_PASTE             &kp K_COPY        &kp K_CUT          &kp K_UNDO     &trans
                                           &trans          &trans         &trans        &trans      &trans                  &trans
            >;
        };
    };
};
